/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
    text-align: center;
    background-image: url('image.png');
    background-size: cover;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 2rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto: verde escuro */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Aumenta o espaço entre as letras */
}

h2 {
    font-size: 0.90rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto: verde escuro */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.37rem; /* Aumenta o espaço entre as letras */
}

p {
    font-size: 0.77rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto: verde escuro */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Aumenta o espaço entre as letras */
    
}

.links {
    list-style: none;
    padding: 0;
}

.links li {
    margin: 10px 0;
}

.links a {
    display: block;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #537df5; /* Borda sólida preta de 2px */
    border-style: double;
    box-shadow: 0px 0px 10px #537df5;
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.links a:hover {
    border: 1px solid #4fe3fd; /* Borda sólida preta de 2px */
    background-color:#4fe3fd;
    box-shadow: 0px 0px 20px #4fe3fd;
    color: rgb(0, 0, 0)
}

.profile-pic {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 00px ;
}

.logo-pic {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0px auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.social-icons img {
    width: 30px;
    height: 30px;

}

